# Maven build artifacts
target/
/target/
*.stf
*.binary

# Eclipse / IDE metadata
.classpath
.project
.settings/
.mvn/
.env

# Test Reports & Result logs
test-output/
/test-output/
allure-results/
allure-report/
ExtentReport.html
