<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    
    <listeners>
        <listener class-name="utils.ExtentReportListener" />
        <listener class-name="utils.AnnotationTransformer" />
    </listeners>
    
    <test name="Regression Tests">
        <classes>
            <class name="practiceTestng.pTestng.AppTest" />
            <class name="practiceTestng.pTestng.CreateEventTest" />
        </classes>
    </test>
</suite>
